body {
    --faf-margin: 0.5rem;

    font-family: var(--sl-font-sans);
}

#main {
    max-width: 1000px;
    margin: 20px auto 20px auto;
}

header {
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-family: sans-serif;
}

.explanation {
    text-align: justify;
}

ul.plain {
    list-style: none;
    padding-left: 0;
}

code {
    font-family: monospace;
    color: #c7254e;
    background-color: #f9f2f4;
}

li strong.indent-2 {
    display: inline-block;
    width: 2.2rem;
}

li strong.indent-3 {
    display: inline-block;
    width: 3rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: black;
}

footer ul {
    margin-block: 0;
    padding-inline-start: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: var(--faf-margin);
    margin: var(--faf-margin) 0;
}

table {
    min-width: 66%;
    /*border-spacing: 0;*/
    border-collapse: collapse;
    margin: 0 auto;
}

table#connection-table td {
    padding: var(--sl-spacing-2x-small);
    border: none;
}

#connection-table tr.invisible td {
    padding: 0;
}

table.zebra tbody tr:nth-child(even) {
    background-color: var(--sl-color-neutral-100);
}

table thead {
    font-weight: bold;
    background-color: var(--sl-color-neutral-200);
}

table td {
    border: 1px darkgray solid;
    padding: 4px 1ch;
}

table thead td.numeric {
    text-align: center;
}

table tbody td.numeric {
    text-align: right;
}

table.matrix {
    table-layout: fixed;
}

table.matrix td {
    width: 1%;
}

sl-badge sl-icon {
    margin-right: 1ch;
}

sl-badge sl-spinner {
    margin-left: 1ch;
}

sl-details::part(summary) {
    font-size: large;
    font-weight: bold;
}

sl-details::part(base) {
    margin-bottom: 1rem;
}

sl-badge sl-spinner {
    --indicator-color: white;
}

sl-badge faf-var {
    margin-left: 0.5ch;
}

.loading faf-var {
    display: none;
}

.loaded faf-var {
    display: inline;
}

.loaded sl-spinner {
    display: none;
}

#coturn-table sl-spinner {
    font-size: 2rem;
    margin: 1rem;
}

.centered {
    text-align: center;
}

.primaryHeader {
    background-color: var(--sl-color-primary-300);
}

.secondaryHeader {
    background-color: var(--sl-color-primary-100) !important;
}

.rotatedText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}

.bgWhite {
    background-color: white;
}

.skewed {
    text-align: center;
    vertical-align: center;
    transform: skew(20deg, -20deg);
    margin: 1.5rem 0.5rem;
}

.shadow-small {
    box-shadow: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small) var(--sl-color-neutral-200);
}

.self {
    color: var(--sl-color-neutral-0);
    background-color: var(--sl-color-primary-500);
    padding: var(--sl-spacing-2x-small) 2ch;
    box-shadow: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small) var(--sl-color-neutral-200);
}

.not-available {
    color: var(--sl-color-neutral-0);
    background-color: var(--sl-color-danger-500);
    padding: var(--sl-spacing-2x-small) 2ch;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.connection-card {
    font-family: var(--sl-font-sans)
}
